
service:
  ip: 0.0.0.0
  port: 17271
  log_level: INFO
  timeout: 60
doris:
  endpoint: doris:9030
  username: admin
  password: admin
  database: otel
  table: otel_traces
  graph_table: otel_traces_graph
  timezone: Asia/Shanghai
